{%extends "base.html"%}
{%block title%}
Log in
{%endblock%}

{%block content%}
<div class="w-75">
    <h1>Edit Feedback</h1>
    <br>
    <p class="lead">Please update feedback below</p>
    <br>
    <form method="POST">
        {{ form.hidden_tag()}}
        {% for field in form
        if field.widget.input_type !='hidden' %}
        <p>
            {{ field.label }}
            {{field(class_="form-control")}}
            {%for error in field.errors%}
            <span class="form-text text-danger">{{error}}</span>
            {% endfor %}
        </p>
        {% endfor %}
        <button class="btn btn-success" type="submit">Submit</button>
    </form>
</div>
{%endblock%}